In [2]:
import pandas as pd
import numpy as np

## DataFrame既有行索引，又有列索引
### 行索引：表明不同行，横向索引，index，axis=0
### 列索引： 表明不同列，纵向索引，columns，axis=1

In [4]:
pd.DataFrame(np.arange(12).reshape(3,4))

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [5]:
pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("ABCD"))

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [6]:
d1 = {"name":["JSQ","QJN"],"age":[23,18],"tel":[11111,22222]}
pd.DataFrame(d1)

  name  age    tel
0  JSQ   23  11111
1  QJN   18  22222