# pandas常用数据类型

### Series 一维，带标签数组
### DataFrame 二维，Series容器

In [12]:
import pandas as pd
import string

In [13]:
pd.Series([1,2,3,4,5,6,7],index=list("abcdefg"))

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [18]:
temp_dict = {"name":"jim","age":18,"tel":10086}
t3 = pd.Series(temp_dict)
print(t3)

name      jim
age        18
tel     10086
dtype: object

# Sreies之切片和索引

In [19]:
t3["age"]

18

In [20]:
t3[:2]

name    jim
age      18
dtype: object

In [21]:
t3[["age","name"]]

age      18
name    jim
dtype: object

In [24]:
t4 = pd.Series([1,23,45,2,5,3,123])
t4[t4>10]

1     23
2     45
6    123
dtype: int64